
/* Header style */
#header {
    padding: 20px 10px;
    background-color: #252422;
    color: #E3655B;
}

header {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}
nav {
    background-color: #403D39;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

#header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

#header nav ul li {
    margin: 0 15px;
    padding: 10px;
}

#header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #E3655B;
    padding: 20px 10px;
    border-radius: 8px;
}
body{
    margin: 0;
    padding: 0;
}

#brief{
    display: flex;
    justify-content: center;
}

#brief div{
    padding: 20px 10px;
    border-radius: 8px;
    font-size: small;
    min-width: 98%;
}

#brief h2{
    text-align: left;
    color: #252422;
}

#info {
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 0.5; /* Adjusts the transparency: 0 is fully transparent, 1 is fully opaque */
}

/* Footer Styling */
#footer {
    background-color: #252422;
    color: #E3655B;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

#footer nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#footer nav ul li {
    margin: 0 15px;
}

#footer nav ul li a {
    color: #E3655B;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#footer p a {
    color: #E3655B;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}